#add-button {
    background-color: #c4c4c4;
    border-radius: .25rem;
    height: 2.5rem;
    font-size: 1rem;
    position: absolute;
    top: 7.5vh;
    right: 2.5vw;
}

.button-text {
    margin: 0 0.6rem 0 0.1rem;
}

.title {
    margin-top: 25vh;
    font-size: 2rem;;
}

.search-bar {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid #a2a2a2;
    border-radius: 1rem;
    margin: 0 auto 0 auto;
    width: 70%;
}

#search-icon {
    font-size: 1.75rem;
    color: #a2a2a2;
}

#search-text {
    margin-left: 0.5rem;
    height: 1rem !important;
    font-size: 1.25rem;
}

svg {
    margin-left: 0.25rem;
}

@media screen and (max-width: 500px) {
    .search-bar {
        width: 70%;
    }
 }