.phone-number {
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
}

.phone-number .Mui-focused.MuiFormLabel-colorPrimary {
    color: #40389B;
}

.phone-number .Mui-focused.MuiOutlinedInput-root fieldset{
    border-color: #40389B;
}