.legend {
    display: flex;
    justify-content: left;
}

.legend.Mui-focused.MuiFormLabel-colorPrimary {
   color: #40389B;
}

.radio-group .MuiRadio-colorPrimary, .radio-group .MuiRadio-colorPrimary.Mui-checked {
   color: #40389B;
}

.radio-group .MuiTypography-root {
   text-align: left
}

.radio-group svg {
   background-color: rgba(255, 255, 255, 0.63) !important;
   border-radius: 50%;
   z-index: 0;
}

.radio-group path {
   z-index: 2
}