@media screen and (min-width: 900px) {
    .box {
       height: 52px;
    }
 }
 
 @media screen and (max-width: 500px) {
    .MuiFormGroup-root {
       margin: auto;
    }
 
    label {
       margin-right: 5% !important;
    }
 }