/* @media screen and (min-width: 900px) {
    .box {
       height: 52px;
    }
 }
 
 @media screen and (max-width: 500px) {
    .MuiFormGroup-root {
       margin: auto;
    }
 
    label {
       margin-right: 5% !important;
    }
 } */

.legend {
    display: flex;
    justify-content: left;
}

.legend.Mui-focused.MuiFormLabel-colorPrimary {
   color: #40389B;
}

.radio-group .MuiRadio-colorPrimary, .radio-group .MuiRadio-colorPrimary.Mui-checked {
   color: #40389B;
}

.radio-group .MuiTypography-root {
   text-align: left
}