
.container {
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color:white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0px;
    border-top-color: blue;
    border: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: 700;
}

.personField {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-bottom: 20px;
}

.personName {
    color: #092475;
    font-weight: 700;
    font-size: 16px;
    margin-left: 5px;
}

.dateField {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 10px 0px;
}

.date {
    margin-left: 10px;
}

.timeField {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 10px 0px;
}

.time {
    margin-left: 10px;
}

.notesField {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: start;
}

.notes {
    display: flex;
    font-size: 16px;
    align-items: center;
    padding: 1em 3em;
    width: 100%;

}

.createdBy {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}